button, input[type="text"] {
    background-color: #f5f5f5;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    height: 33px;
    margin: 5px 0;
    padding: 5px;
}

button {
    width: 500px;
    height: 40px;
}

input[type="text"] {
    width: 490px;
}