i {
    cursor: pointer;
}

.delete-icon {
    float: right;
    transition: transform .4s ease-in-out;
}

.delete-icon:hover {
    color: #ff2727;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.edit-icon {
    padding-right: 5px;
    border-right: black 2px solid;
}

.edit-icon:hover {
    color: #3a77ff;
    border-color: #3a77ff;
}

.close-icon {
    float: right;
    transition: transform .8s ease-in-out;
}

.close-icon:hover {
    color: #ff2727;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.disabled {
    cursor: not-allowed;
}

.pagination-icon:hover {
    color: #3a77ff;
    animation: swing 1.5s forwards 0s ease-out;
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 30deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -25deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 20deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}