ul {
    padding: 10px 0 0 0;
    min-height: 390px;
}

li {
    list-style: none;
    font-size: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #e3e3e3;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.05);
    word-wrap: break-word;
}

.flip-out-x {
    animation: flipOutX 0.5s forwards linear;
}

@keyframes flipOutX {
    from {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }

    30% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }

    to {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}
