body {
    background-image: url("../img/bg.jpg");
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.container {
    margin: 40px auto;
    max-width: 500px;
    min-height: 700px;
    padding: 30px;
    border-radius: 0 8px 8px 0;
    background-image: url("../img/sheet.png");
}

.pull-right {
    float: right;
}

.swipe-right {
    animation: swipeRight 0.5s forwards 0s ease-out;
}

.swipe-left {
    animation: swipeLeft 0.5s forwards 0s ease-out;
}

@keyframes fadeIn {
    0% {
        transform: scale(0.2) skewY(-15deg);
        opacity: 0;
        -webkit-transform: scale(0.2) skewY(-15deg);
        -moz-transform: scale(0.2) skewY(-15deg);
        -ms-transform: scale(0.2) skewY(-15deg);
        -o-transform: scale(0.2) skewY(-15deg);
    }
    100% {
        transform: scale(1) skewY(0);
        opacity: 1;
        -webkit-transform: scale(1) skewY(0);
        -moz-transform: scale(1) skewY(0);
        -ms-transform: scale(1) skewY(0);
        -o-transform: scale(1) skewY(0);
    }
}

@keyframes swipeRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    49% {
        transform: translateX(1000px);
        opacity: 1;
    }
    50% {
        transform: translateX(1000px);
        opacity: 0;
    }
    51% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    52% {
        transform: translateX(-1000px);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes swipeLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    49% {
        transform: translateX(-1000px);
        opacity: 1;
    }
    50% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    51% {
        transform: translateX(1000px);
        opacity: 0;
    }
    52% {
        transform: translateX(1000px);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}