.modal-bg {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal {
    max-width: 500px;
    border-radius: 0 8px 8px 0;
    background-image: url("../img/sheet.png");
    margin: 15% auto;
    padding: 30px;
    min-height: 250px;
    animation: modalFadeIn 0.6s forwards 0s ease;
    -webkit-animation: modalFadeIn 0.6s forwards 0s ease;
}

.modal-header {
    margin-bottom: 90px;
    padding-bottom: 10px;
    border-bottom: black 3px solid;
}

.modal-header-text {
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
}

.modal p {
    padding-top: 10px;
    word-wrap: break-word;
}

.fade-out-and-scale {
    animation: fadeOutAndScale 0.6s forwards 0s ease;
    -webkit-animation: fadeOutAndScale 0.6s forwards 0s ease;
}

.fade-out {
    animation: fadeOut 0.6s forwards 0s ease;
    -webkit-animation: fadeOut 0.6s forwards 0s ease;
}

@keyframes modalFadeIn {
    0% {
        transform: scale(0.2);
        opacity: 0;
        -webkit-transform: scale(0.2);
        -moz-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

@keyframes fadeOutAndScale {
    0% {
        transform: scale(1);
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    100% {
        transform: scale(0.4);
        opacity: 0;
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
